.container {
  padding: 2rem;
  border-radius: 20px;
}

.title {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.header h2 {
  color: #2e86c1;
}

.content {
  padding: 2rem;
}

.content h2 {
  color: #444;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
  padding: 1rem;
  border-radius: 20px;
  background-color: #e3f2fd;
}
